#### Sequences: String, List, Tuple

<h6>Indexing</h6>

In [1]:
x = 'frog'
print(x[3])
#list
x = ['frog','pig','crow']
print(x[1])
#tuple
x = ('kevin','mark','Jenny','Craig')
print(x[0])

g
pig
kevin

<h6>Slicing</h6>

In [2]:
x = 'computer'
print(x[1:4])
print(x[1:6:2])
print(x[3:])
print(x[:5])
print(x[-1])
print(x[-3:])
print(x[:-2])

omp
opt
puter
compu
r
ter
comput

<h6>adding/concatinating</h6>

In [3]:
x = 'horse' + 'shoe'
print(x)
y = ['pig','cow'] + ['horse']
print(y)
z = ('Kevin','Nikolas','Jenny') + ('Craig',)
print(z)

horseshoe
['pig', 'cow', 'horse']
('Kevin', 'Nikolas', 'Jenny', 'Craig')

<h6>Multiplying</h6>

In [4]:
#string
x = 'bug' * 3
print(x)

#list
y = [8,5] * 3
print(y)

#tuple
z = (2,4) * 3
print(z)

bugbugbug
[8, 5, 8, 5, 8, 5]
(2, 4, 2, 4, 2, 4)

<h6>checking membership</h6>

In [5]:
#string
x= 'bug'
print('u' in x)

#list
y = ['pig','cow','human']
print('cow' in y)

#Tuple
z = ('Kevin', 'Jack', 'Craig')
print('Jack' in z)

True
True
True

<h6>Indexing</h6>

In [6]:
z = [1,2,3]
for item in z:
    print(item)
    
z = [1,2,3]
for index, item in enumerate(z):
    print(index, item)

1
2
3
0 1
1 2
2 3

<h6>number of items</h6>

In [7]:
#string
x = 'bug'
print(len(x))

#list
y = ['pig','cow','horse']
print(len(y))

#tuple
z = ('Kevin', 'Jack', 'Craig')
print(len(z))

3
3
3

<h6>minimum</h6>

In [8]:
#string
x = 'bug'
print(min(x))

#list
y = ['pig','cow','horse']
print(min(y))

#tuple
z = ('Kevin', 'Jack', 'Craig')
print(min(z))

b
cow
Craig

<h6>Maximum</h6>

In [9]:
#string
x = 'bug'
print(max(x))

#list
y = ['pig','cow','horse']
print(max(y))

#tuple
z = ('Kevin', 'Jack', 'Craig')
print(max(z))

u
pig
Kevin

<h6>sum</h6>

In [10]:
#list
y = [5,6,7]
print(sum(y[:-2]))

#tuple
z = (5,6,7)
print(sum(z))

5
18

<h6>sorting</h6>

In [11]:
#string
x = 'bug'
print(sorted(x))

#list
y = ['pig','cow','horse']
print(sorted(y))

#tuple
z = ('Kevin', 'Jack', 'Craig')
print(sorted(z))

['b', 'g', 'u']
['cow', 'horse', 'pig']
['Craig', 'Jack', 'Kevin']

In [12]:
z = ('Kevin', 'Jack', 'Craig')
print(sorted(z,key=lambda x: x[1])) #sort using 2nd letter

['Jack', 'Kevin', 'Craig']

<h6>count</h6>

In [13]:
#string
x = 'hippo'
print(x.count('p'))

#list
y = ['pig','cow','horse', 'cow']
print(y.count('cow'))

#tuple
z = ('Kevin', 'Jack', 'Craig')
print(z.count('Kevin'))

2
2
1

<h6>index</h6>

In [14]:
#string
x = 'hippo'
print(x.index('p'))

#list
y = ['pig','cow','horse', 'cow']
print(y.index('cow'))

#tuple
z = ('Kevin', 'Jack', 'Craig')
print(z.index('Kevin'))

2
1
0

<h6>unpacking</h6>

In [15]:
a,b,c = ('Kevin', 'Jack', 'Craig')
print(a,b,c)

Kevin Jack Craig

##### Lists

<h6>constructors</h6>

In [16]:
x = list()
y = ['a',165.0,'dog',2]
z = list((10,20,30))
print(x,y,z)

[] ['a', 165.0, 'dog', 2] [10, 20, 30]

###### List comprehension

In [17]:
a = [m for m in range(8)]
print(a)
b = [i**2 for i in range(10) if i>4]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]

In [18]:
#delete
x = [5,6,7,8]
del(x[1])
print(x)
del(x)

[5, 7, 8]

In [19]:
#append
x = [5,6,7,8]
x.append(9)
print(x)

[5, 6, 7, 8, 9]

In [20]:
#extend
x = [5,6,7,8]
y = [9,10]
x.extend(y)
print(x)

[5, 6, 7, 8, 9, 10]

In [21]:
#insert
x = [5,6,7,8]
x.insert(4,9)
print(x)
x.insert(2,['a', 'm'])
print(x)

[5, 6, 7, 8, 9]
[5, 6, ['a', 'm'], 7, 8, 9]

In [22]:
#pop
x = [5,6,7,8]
print(x, x.pop()) #pop lasts number in the list

[5, 6, 7] 8

In [23]:
#remove
x = [5,6,7,8,6]
x.remove(6)
print(x)

[5, 7, 8, 6]

In [24]:
#reverse
x = [5,6,7,8,6]
x.reverse()
print(x)

[6, 8, 7, 6, 5]

In [25]:
#append
x = [5,6,7,8,6]
x.append(5)
print(x)

[5, 6, 7, 8, 6, 5]

#### sort - in place sort
#### sorted - creates a new list with sorted order without changing the original list

In [26]:
#sort
x = [5,3,8,6]
x.sort()
print(x)

[3, 5, 6, 8]

In [27]:
#reverse sort
x = [5,3,8,6]
x.sort(reverse=True)
print(x)

[8, 6, 5, 3]

### Tuples 

###### (tuples are immutable but member objects may be mutable)

In [28]:
#constructors
x = ()
y = (1,2,3)
z = 1,2,3
m = 2,
n = tuple([1,2,3])
print(x,y,z,m,n)

() (1, 2, 3) (1, 2, 3) (2,) (1, 2, 3)

In [29]:
x = (1,2,3)
y = ([1,2],3)
del(y[0][1])
print(y)
y += 4,
print(y)

([1], 3)
([1], 3, 4)

### Sets
#### (Unordered, Unique Items)

In [30]:
x= {3,5,5,3}
print(x)

y = set()
print(y)

z = set([1,2,3])
print(z)

{3, 5}
set()
{1, 2, 3}

In [31]:
#operations
x= {3,5,5,3}
#adding
x.add(6)
print(x)
#removing
x.remove(3)
print(x)
#finding the length
print(len(x))
#check membership in x
print(5  in x)
# pop random item from set x
print(x.pop(), x)
#clear set
x.clear()

{3, 5, 6}
{5, 6}
2
True
5 {6}

<h5>Mathematical set operations</h5>

In [32]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}
print(s1 & s2) #intersection (AND)
print(s1 | s2) # Union (OR)
print(s1 ^ s2) #Symmetric Difference (XOR)
print(s1 - s2) #Difference (in set1 but not in set2) 
print(s1 <= s2) #Subset (set2 contains set1)
print(s1 >= s2) #Superset (set1 contains set2)

{3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2}
{1, 2}
False
True

#### Dictionaries

In [33]:
x = {'bananas':1, 'apple':2, 'orange':3}
print(x)
y = dict([('bananas',1), ('apple',2), ('orange',3)])
print(y)
z = dict(bananas=1, apple=2, orange=3)
print(z)

{'bananas': 1, 'apple': 2, 'orange': 3}
{'bananas': 1, 'apple': 2, 'orange': 3}
{'bananas': 1, 'apple': 2, 'orange': 3}

In [34]:
#dictionary operations
x['grape'] = 4 #add a key-value pair in a dictionary
print(x)

del(x['grape']) #delete
print(x)

x.clear() #delete all items inside a dictionary
print(x)

del(x) #delete a dictionary

{'bananas': 1, 'apple': 2, 'orange': 3, 'grape': 4}
{'bananas': 1, 'apple': 2, 'orange': 3}
{}

In [35]:
#accessing keys, values in a dictionary
x = {'bananas':1, 'apple':2, 'orange':3}
print(x.keys())
print(x.values())
print(x.items()) #key-value pairs

print('bananas' in x) #check membership of a key in the dictionary

print('bananas' in x.values()) #check membership in values

dict_keys(['bananas', 'apple', 'orange'])
dict_values([1, 2, 3])
dict_items([('bananas', 1), ('apple', 2), ('orange', 3)])
True
False

In [36]:
#iterating a dictionary
for key, value in x.items():
    print(key,value)
    
for key in x:
    print(key, x[key])

bananas 1
apple 2
orange 3
bananas 1
apple 2
orange 3